<mat-toolbar color="primary" class="fullWidth navBarClass">
  <div>Ramona Cinema</div>
  <div class="navButtonsMenu">
    <app-action-button
      ><div iconBtn>
        <mat-icon fontIcon="home" [routerLink]="'/'" />
      </div>
    </app-action-button>
    <app-action-button *ngIf="cartQuantity > 0" (click)="toggleCart()"
      ><div iconBtn>
        <mat-icon
          [matBadge]="cartQuantity"
          [matBadgeColor]="'warn'"
          fontIcon="shopping_cart"
        />
      </div>
    </app-action-button>
    <app-action-button
      routerLinkActive="active-link"
      [routerLink]="'/store'"
      text="Store"
    />
    <app-action-button
      text="Tickets"
      routerLinkActive="active-link"
      [routerLink]="'/tickets'"
    />
    <app-action-button text="Contact" />
    <div>
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select class="" [(value)]="currencySelected" (selectionChange)="changeCurrency($event)">
          <mat-option
            *ngFor="let currency of currencyTypesOptions"
            [value]="currency.value"
            
          >
            {{ currency.viewValue }}
          </mat-option>
        </mat-select></mat-form-field
      >
    </div>
  </div>
</mat-toolbar>
