<div class="store-item">
  <!-- <mat-icon>{{ item?.icon }}</mat-icon> -->
  <div class="item-details">
    <h3>{{ item?.name }}</h3>
  </div>
  <div class="price">
    <p>{{ item?.price | currency }}</p>
  </div>

  <div class="quantity-controls">
    <button mat-icon-button (click)="decreaseQuantity()">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <span>{{ quantity }}</span>
    <button mat-icon-button (click)="increaseQuantity()">
      <mat-icon fontIcon="add">add</mat-icon>
    </button>
  </div>
  <div>
    <div>Total: {{ totalQuantity }}</div>
  </div>
  <mat-divider></mat-divider>
</div>
